# Compiled Object files
*.slo
*.lo
*.o
# *.obj (not ignored because of those darn .obj models)

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio nonsense
.vs
x64
*.suo
*.db
*.opendb
*.sdf
*.vcxproj.user

# the test output image
output.png

imgui.ini